body {
	background: var(--color-background);
	color: var(--color-foreground);
	font-size: 1.5vw;
	font-family: 'JetBrains Mono';
	
	-webkit-font-smoothing: antialiased;
}

a span:hover {
	text-decoration: underline;
}