body {
	/* max-width: 1400px; */
	background: var(--color-background);
	color: var(--color-text);
	font-size: 1.5vh;
	font-family: 'JetBrains Mono';
	/* overflow: hidden; */
	-webkit-font-smoothing: antialiased;
	/* margin-left: auto;
	margin-right: auto; */
}

a span:hover {
	text-decoration: underline;
}


.frontpage-split-line {
	border: none;
   border-top: 1px dotted rgb(54, 53, 53);
	padding: 2rem;
   
}

@media (max-width: 1024px) {
	body {
		font-size: 5vw;
	}
}

@media (min-width: 1920px) {
	body {
		font-size: 30px;
		max-width: 1920px;
		margin: 0 auto;
	}
}