*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

img, video, cavas {
	display: block;
	width: 100%;
}

button,
select {
	cursor: pointer;
}

button, 
input, 
select {
	font: inherit;
	color: inherit;
	background: transparent;
	border: 0;
}