:root {
	--color-background: #FF9292;
	--color-foreground: #FDF7C3;
	--color-highlight: #FFE699;

	--color-box-background: #FFFFFF;
	--color-box-foreground: var(--color-foreground);

	--color-text: #000000;
	--color-text-darkmode: #FFFFFF;
	--third-color: ;

	--font-size-small: 1vw;
	--font-size-normal: 1.5vw;
	--font-size-big: 2vw;

	--font-size-header: 1.2vw;

	--gap-colum: 1rem;
	--gap-padding: 1rem;
	--gap-row: 1rem;
	--gap-section: 2rem;

	--gap-box-paddig: 1rem;


}