:root {
	--color-background: #FF9292;
	--color-foreground: #FDF7C3;
	--color-highlight: #FFE699;
	--color-box-background: #FFFFFF;

	--color-text: #000000;
	--color-text-darkmode: #FFFFFF;
	--third-color: ;

	--gap-colum: 1rem;
	--gap-row: 1rem;
	--gap-section: 2rem;


}