:root {
	--color-background: #FF9292;
	--color-foreground: #FDF7C3;
	--color-background: #FF9292;
	--color-box-background: #fff;

	--first-color: ;
	--second-color: ;
	--third-color: ;

	--gap-colum: ;


}