.cart-box {
	width: 40vw;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 0;
	background-color: white;
	right: 0;
	top: 6rem;
	z-index: 100;
	overflow-y: auto;
}

.cart-box--hide {
	display: none;
}

.cart-box__title {
	text-align: center;
	text-transform: uppercase;
	margin-top: 1rem;
}

.cart-box__items {
	display: flex;
	gap: 1rem;
	margin: 1rem;
	font-size: 1.5vw;
}

.cart-box__item {
	display: flex;
	gap: 1rem;
	margin: 1rem;
	font-size: 1.5vw;
}

.cart-box__buttons {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.cart-box__button--checkout {
	width: 100%;
	height: 2rem;
	background-color: var(--color-highlight);
}

.cart-box__button--empty {
	width: 100%;
	height: 2rem;
	background-color: var(--color-highlight);
}


.cart-box__button--checkout:hover {
	background-color: var(--color-foreground);
}

.cart-box__button--empty:hover {
	background-color: var(--color-foreground);
}

.cart-box__empty-message--visible {
	display: block;
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
	text-transform: uppercase;
}

@media (max-width: 1024px) {
	.cart-box {
		width: 90%;
	}
	.cart-box__items {
		font-size: 1rem;
	}
	
}