.cart-box {
	width: 40vw;
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 0;
	background-color: white;
	top: 6rem;
	z-index: 100;
	overflow-y: auto;
	right: 0;
}

.cart-box--hide {
	display: none;
}

.cart-box__title {
	text-align: center;
	text-transform: uppercase;
	margin-top: 1rem;
}

.cart-box__item {
	display: flex;
	gap: 1rem;
	margin: 1rem;
	font-size: 1.rem;
}

.cart-box__buttons {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.cart-box__button--checkout {
	width: 100%;
	height: 2rem;
	background-color: var(--color-highlight);
}

.cart-box__button--empty {
	width: 100%;
	height: 2rem;
	background-color: var(--color-highlight);
}


.cart-box__button--checkout:hover {
	background-color: var(--color-foreground);
}

.cart-box__button--empty:hover {
	background-color: var(--color-foreground);
}

.cart-box__empty-message--visible {
	display: block;
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
	text-transform: uppercase;
}

.cart-box__total {
	text-align: center;
	text-transform: uppercase;
	border: 1px solid black;
}

@media (max-width: 768px) {
	.cart-box {
		width: 50%;
		font-size: 10px;
	}

	.cart-box__item {
		font-size: 10px;
	}
	
	.cart-box__total {
		font-size: 15px;
		text-align: left;
	}

	.cart-box__button--checkout:hover {
		background-color: var(--color-highlight);
	}
	
	.cart-box__button--empty:hover {
		background-color: var(--color-highlight);
	}

}

@media (min-width: 1920px) {
	.cart-box__item  {
		font-size: 20px;
		max-width: 1920px;
	}
}