.footer-container {
	height: 3rem;
	background-color: var(--color-foreground);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: var(--gap-section);
	margin-top: 20vw;
	height: auto;
	padding: 1rem;
	width: 100%;
}

.footer-text {
	color: var(--color-text);
	margin-bottom: 1vh;
}

.footer-icons {
	font-size: 3rem;
}

@media (max-width: 768px) {
	.footer {
		display: flex;
	}
	.footer-container {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		height: auto;
		padding: 1rem;
		width: 100%;
	}
	
	.footer-text {
		display: inline-block;
		margin-bottom: 1vh;
	}
}