.frontpage-hero-images {
	/* height: 60vh; */
	margin-bottom: var(--gap-section);
	padding: 1rem;
	overflow: hidden;
	gap: var(--gap-column);
}

.frontpage-hero-image {
	aspect-ratio: 1/1;
}

.frontpage-hero-image img {
	object-fit: cover;
	height: 100%;
}

@media (max-width: 768px) {
	.frontpage-hero-images {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.frontpage-hero-image {
		width: 100%;
	}
}


