.frontpage-hero-images {
	height: 60vh;
	margin-bottom: var(--gap-section);
	padding: 1rem;
	overflow: hidden;
	gap: var(--gap-row);
}

.frontpage-hero-image {
	width: 100%;
	height: 100%;
}

.frontpage-hero-image img {
	width: 100%;
	height: 100%;
}



