.header {
	height: 5.5rem;
	background-color: var(--color-foreground);
	margin-bottom: var(--gap-section);
	position: sticky;
	top: 0;
	z-index: 100;
}

.header img {
	height: 5.5rem;
	width: 15rem;
}

.header__navigation {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
   align-items: flex-end;
   padding: 10px;
}

.header__navigation a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px;
	position: relative;
	color: var(--color-text);
}

/* .header__navigation a span:hover {
	opacity: 1.5;
} */

.header__navigation a {
	font-size: var(--font-size-header);
}

.header__navigation i {
	margin-bottom: 0.5rem;
}

.navigation__cart-count {
	display: inline-block;
	background-color: red;
	color: var(--color-text-darkmode);
	border-radius: 50%;
	padding: 2px 6px;
	font-size: 1rem;
	position: absolute;
	top: -20px;
	right: -10px;
}

.navigation__cart-count:hover {
	text-decoration: none;
}

.header__logo {
	display: none;
}

/* Responsive Styles */



@media (max-width: 768px) {
	.header {
		display: flex;
		justify-content: space-between;
		height: 3rem;
		background-color: var(--color-foreground);
		margin-bottom: var(--gap-section);
		position: sticky;
		top: 0;
		z-index: 100;
	}
	.header img {
		display: none;
	}
	.header__navigation {
		gap: 3rem;
		padding-right: 3rem;
	}
	.header__navigation a {
		font-size: 1rem;
	}
	.header__logo {
		height: 100%;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		padding-left: var(--gap-padding);
		font-family: 'Caveat', cursive;;
	}  
	 .header__logo-text {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: -8px;
	 }
  
	 .header__logo-slogan {
		font-size: 14px;
		margin: 0;
	 }

	 .navigation__cart-count {
		font-size: 1rem;
		position: absolute;
		top: -15px;
		right: -20px;
	 }

	 .header__navigation a span:not(.navigation__cart-count) {
		display: none;
	 }
}

