.header {
	height: 6rem;
	background-color: var(--color-foreground);
	margin-bottom: var(--gap-section);
	position: sticky;
	top: 0;
	z-index: 100;
}

.header__logo-container {
	width: 100%;
}

.header__logo {
	height: 100%;
	width: 16rem;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	font-family: 'Caveat', cursive;
	padding-left: 1rem;
}

.header__logo-text {
	font-size: 3rem;
	font-weight: bold;
}

.header__logo-slogan {
	font-size: 1.5rem;
}

.header__navigation {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
   align-items: flex-end;
   padding: 10px;
}

.header__navigation a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px;
	position: relative;
	color: var(--color-text);
}

/* .header__navigation a span:hover {
	opacity: 1.5;
} */

.header__navigation a {
	font-size: var(--font-size-header);
}

.header__navigation i {
	margin-bottom: 0.5rem;
	
}

.navigation__cart-count {
	display: inline-block;
	background-color: red;
	color: var(--color-text-darkmode);
	border-radius: 50%;
	padding: 2px 6px;
	font-size: 1rem;
	position: absolute;
	top: -20px;
	right: -10px;
}

.navigation__cart-count:hover {
	text-decoration: none;
}

/* Responsive Styles */

@media (max-width: 768px) {
	.header {
		width: 100%;
		height: 5rem;
		display: flex;
		gap: 0;
	}
	
	.header__navigation {
		gap: 1.5rem;
		padding-right: 1.5rem;
	}
	
	.header__navigation a {
		font-size: 1rem;
	}
	
	.header__logo {
		height: 100%;
		width: 100%;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		font-family: 'Caveat', cursive;;
	}  
	
	.header__logo-text {
		font-size: 26px;
		font-weight: bold;
	}
  
	.header__logo-slogan {
		font-size: 16px;
	}

	.navigation__cart-count {
		font-size: 1rem;
		position: absolute;
		top: -20px;
		right: -20px;
	}

	.header__navigation a span:not(.navigation__cart-count) {
		display: none;
	}

	.header div:first-child {
		height: 100%;
	}
}

