.hero-title {
	height: 5rem;
	margin-bottom: var(--gap-section);
	background-color: var(--color-foreground);
	color: var(--color-text);
	font-size: var(--font-size-small);
	align-items: center;
	text-align: center;
}

@media (max-width: 768px) {
	.hero-title {
		display: flex;
		font-size: 1vh;
		justify-content: center;
	}
}