.input-button {
	background: var(--color-foreground);
	text-align: center;
	width: 100%;
	padding: var(--gap-button-padding);
}

.input-button:hover {
	background: black;
	color: white;
}

@media (max-width: 768px) {
	.input-button:hover,
	.input-button:active {
		background: var(--color-foreground); /* Use the initial background color */
		color: initial; /* Use the initial text color */
	}
}